@import "tailwindcss";

/* Base theme variables */
@layer base {
    :root {
        --text: #1b130e;
        --background: #f8f0ed;
        --primary: #62381d;
        --secondary: #e19e75;
        --accent: #c25d1e;
    }
    .dark {
        --text: #f1e9e4;
        --background: #120a07;
        --primary: #e2b79d;
        --secondary: #8a481e;
        --accent: #e17c3d;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--text);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--text);
    font-family: "Rethink Sans", sans-serif;
}
